@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
  font-display: fallback; /* Define how the browser behaves during download */
}

@font-face {
  font-family: "Poppins-bold";
  src: url(../fonts/Poppins-Black.ttf);
  font-display: fallback; /* Define how the browser behaves during download */
}

// estilos para notificaciones
// @import "../../node_modules/react-toastify/dist/ReactToastify.min.css";
@import "../../node_modules/react-toastify/dist/ReactToastify";
@import "./bootstrap_imports";
@import "./components_imports";

@import "./global";

@import "../../node_modules/vanillajs-datepicker/sass/datepicker";
