.banner {
  position: relative;
  min-height: 450px;

  &__background {
    @extend %position-absolute;
    @extend %full-size;
    object-fit: cover;
    z-index: 0;
  }

  &__content {
    @extend %position-absolute;
    @extend %full-size;
    @extend %flex-center;
    flex-direction: column;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);

    color: white;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .banner {
    min-height: 500px;
  }
}

@media (min-width: 992px) {
  .banner {
    min-height: 550px;
  }
}
@media (min-width: 1200px) {
  .banner {
    min-height: 600px;
  }
}
